{{ if isEndpoint .Node }}
{{ if .Node.D.router }}
{{ info "### minirouter preinit ###" }}
{{ if .Node.D.minirouterfs }}
	vm config filesystem {{ .Node.D.minirouterfs }}
	vm config preinit {{ .Node.D.minirouterfs }}/preinit
{{ else if .Config.minirouterfs }}
	vm config filesystem {{ .Config.minirouterfs }}
	vm config preinit {{ .Config.minirouterfs }}/preinit
{{ else }}
	{{ error "missing minirouterfs config!" }}
{{ end }}
{{ end }}
{{ end }}
