{{ if isEndpoint .Node }}
{{ info "### vm_launch ###" }}
{{ $name := .Node.D.name }}

{{ if eq $name "" }}
	{{ $name = printf "discovery-node-%v" .Node.NID }}
	{{ setData .Node "name" $name }}
{{ end }}

{{ if eq (or .Node.D.type "") "qemu" }}
	vm launch kvm {{ $name }}
{{ else }}
	vm launch container {{ $name }}
{{ end }}

{{ end }}
